.classe {
    display: inline-block;
    background-color: gray;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.classe-a {
    background-color: var(--ion-color-danger);
}

.classe-b {
    background-color: var(--ion-color-warning);
    color: black;
}

.classe-c {
    background-color: var(--ion-color-success);
}